<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Add Milk Data</title>
  </head>
  <body>
    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div style="
            padding: 15px; 
            margin: 10px 0; 
            border-radius: 5px;
            background-color: #f8d7da;
            color: #721c24;
          ">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <h1>{{message}}</h1>
    <form action="/add" method="POST">
      <label>Milk Qty</label>
      <input name="number" type="text" />
      <label>Date</label>
      <input name="date" type="date" />
      <button type="submit">Add Record</button>
    </form>
    <p><a href="{{ url_for('home') }}">Back to list</a></p>
  </body>
</html>
